%nav.navbar.navbar-light.bg-light.text-center.d-block.fixed-top{style: 'background-color: #eee;'}
  = link_to "/contents/index", class: "navbar-brand" do
    = image_tag 'title-logo', width: 150, height: 50
    %span.font-weight-bold.align-middle{style: 'font-size: 30px;'} 念系統診断
.container-fluid.w-75{style: 'height: 100vh; padding-top: 75px;'}
  %form{action: '/diagnoses/create', method: 'post', form: 'result'}
    .card
      =image_tag 'kaito', class: "card-img-top d-block", style: 'width: 100%; height: 75vh;'
      .card-body.p-0
        %p.font-weight-bold.text-center.m-0.p-2{style: 'font-size: 18px;'} Q1: 初対面の人と会話するのを、楽しめるかどうか？
      %select#result.custom-select{name: 'q1'}
        = render 'check_box'

    .card
      =image_tag 'kaito', class: "card-img-top d-block", style: 'width: 100%; height: 75vh;'
      .card-body.p-0
        %p.font-weight-bold.text-center.m-0.p-2{style: 'font-size: 18px;'} Q2: 初対面の人と会話するのを、楽しめるかどうか？
      %select#result.custom-select{name: 'q2'}
        = render 'check_box_reverse'

    .card
      =image_tag 'kaito', class: "card-img-top d-block", style: 'width: 100%; height: 75vh;'
      .card-body.p-0
        %p.font-weight-bold.text-center.m-0.p-2{style: 'font-size: 18px;'} Q3: 初対面の人と会話するのを、楽しめるかどうか？
      %select#result.custom-select{name: 'q3'}
        = render 'check_box_reverse'

    .card
      =image_tag 'kaito', class: "card-img-top d-block", style: 'width: 100%; height: 75vh;'
      .card-body.p-0
        %p.font-weight-bold.text-center.m-0.p-2{style: 'font-size: 18px;'} Q4: 初対面の人と会話するのを、楽しめるかどうか？
      %select#result.custom-select{name: 'q4'}
        = render 'check_box'  
    
    .card
      =image_tag 'kaito', class: "card-img-top d-block", style: 'width: 100%; height: 75vh;'
      .card-body.p-0
        %p.font-weight-bold.text-center.m-0.p-2{style: 'font-size: 18px;'} Q5: 初対面の人と会話するのを、楽しめるかどうか？
      %select#result.custom-select{name: 'q5'}
        = render 'check_box'  

    .card
      =image_tag 'kaito', class: "card-img-top d-block", style: 'width: 100%; height: 75vh;'
      .card-body.p-0
        %p.font-weight-bold.text-center.m-0.p-2{style: 'font-size: 18px;'} Q6: 初対面の人と会話するのを、楽しめるかどうか？
      %select#result.custom-select.q6{name: 'q6'}
        = render 'check_box_reverse'  

    .card
      =image_tag 'kaito', class: "card-img-top d-block", style: 'width: 100%; height: 75vh;'
      .card-body.p-0
        %p.font-weight-bold.text-center.m-0.p-2{style: 'font-size: 18px;'} Q7: 初対面の人と会話するのを、楽しめるかどうか？
      %select#result.custom-select.q7{name: 'q7'}  
        = render 'check_box' 

    .card
      =image_tag 'kaito', class: "card-img-top d-block", style: 'width: 100%; height: 75vh;'
      .card-body.p-0
        %p.font-weight-bold.text-center.m-0.p-2{style: 'font-size: 18px;'} Q8: 初対面の人と会話するのを、楽しめるかどうか？
      %select#result.custom-select.q8{name: 'q8'}  
        = render 'check_box'  

    .card
      =image_tag 'kaito', class: "card-img-top d-block", style: 'width: 100%; height: 75vh;'
      .card-body.p-0
        %p.font-weight-bold.text-center.m-0.p-2{style: 'font-size: 18px;'} Q9: 初対面の人と会話するのを、楽しめるかどうか？
      %select#result.custom-select.q9{name: 'q9'}  
        = render 'check_box'  

    .card
      =image_tag 'kaito', class: "card-img-top d-block", style: 'width: 100%; height: 75vh;'
      .card-body.p-0
        %p.font-weight-bold.text-center.m-0.p-2{style: 'font-size: 18px;'} Q10: 初対面の人と会話するのを、楽しめるかどうか？
      %select#result.custom-select.q10{name: 'q10'}  
        = render 'check_box_reverse'
    %button.btn.btn-primary.btn-lg.btn-block.mt-5.mb-5 結果を見る

